/*트리 전체 영역*/
#tree {position: relative; border-top: 1px solid #000; border-left: 1px solid #000; border-right: 1px solid #000;}
/*ul 태그 영역*/
#tree ul {list-style: none; margin: 0; padding: 0;}
/*부서 영역*/
#tree li.group {background: #EAEAEA; cursor: pointer;}
/*사용자 영역*/
#tree li.user {background: #E4F7BA}
/*동적 liv div 영역*/
#tree li div {height: 35px; border-bottom: 1px solid #000; line-height: 35px; font-weight: bold; padding-left: 30px; pointer-events: none;}
/*트리 이미지 영역*/
#tree img {position: absolute; margin-top: 9px; margin-left: -20px; pointer-events: none;}
/*사용자 이미지 영역*/
.imgDiv img {position:absolute; margin-top:-100px;}
/*x버튼 영역*/
.xBtnImgDiv img {position:absolute; margin-left:230px; margin-top:-95px; width:15px; height:15px; cursor:pointer;}