/*밑줄*/
hr {border:1px solid #E4F7BA; width:70%; size:20px; margin-left:0px} 
/*inputbox 영역*/
input.stDt {width:90px; font-size:16px; text-align:center;}
/*title 영역*/
h4.title {font-size:25px; margin-top:0px;}
div.container {margin-top:-15px;}
/*기준일자 연산 날짜버튼*/
.calc1 {background-color:#FAED7D;}
/*아랫부분 날짜계산 버튼*/
.calc2 {background-color:#FFC19E;}
.calc3 {background-color:#FFC19E;}
.calc4 {background-color:#FFC19E;}
.calc5 {background-color:#FFC19E;}


