/*밑줄*/
hr {border:1px solid #E4F7BA; width: 100%; size:20px;} 
/*inputbox 영역*/
input.stDt {width:90px; font-size:16px; text-align:center;}
/*title 영역*/
h4.title {font-size:25px; margin-top:0px;}
div.container {margin-top:-15px;}


